In [1]:
# 1. Cохраните в переменную age произвольный возраст, выраженный целым числом,
# а в переменную name – какое-нибудь имя в виде строки.

In [4]:
age = 8
name = 'Rodik'

In [7]:
# 2. Создайте список user_info, содержащий 4 элемента в следующем порядке:
# 2 строки (имя и фамилия пользователя)
# 1 дробное число (зарплата)
# 1 целое число (стаж)

In [8]:
user_info = ['Vika','Novikova',8.5, 3]

In [9]:
# 3. Поместите в переменную first первый (т.е. нулевой) элемент из списка salaries.

In [10]:
salaries = [42, 100, 70, 80]

In [11]:
first = salaries[0]

In [12]:
# 4. Добавьте в уже созданный список users элементы 'Voronov' и 42.

In [20]:
users=['Novikov', 6]

In [21]:
users.append('Voronov')
users.append(42)

In [22]:
users

['Novikov', 6, 'Voronov', 42]

In [25]:
# 5. В переменной user_ages содержится список возрастов клиентов. Напишите цикл, выводящий на печать элементы больше 18.

In [26]:
user_ages = [10, 18, 21, 35, 42, 27, 12, 16]

In [29]:
for i in user_ages:
    if i > 18:
        print(i)

21
35
42
27

In [30]:
# 6. Напишите программу, проверяющую стаж работы сотрудника. 
# В переменной worker уже содержится список, содержащий значения (имя, фамилия, зарплата, стаж). 
# Поместите в переменную status следующую строку:

user_name user_family is position

где user_name и user_family — имя и фамилия сотрудника, а position — одно из следующих значений:

'junior' — стаж меньше 2 лет
'middle' — стаж больше либо равен 2 лет и меньше или равен 5
'senior' — стаж больше 5 лет 
Пример данных, которые могут быть в worker:
    
worker = ['Olya', 'Silyutina', 350000, 3]

In [39]:
worker = ['Olya', 'Silyutina', 350000, 3]

In [42]:
status ="{user_name} {user_family} is {position}"
print(status)

{user_name} {user_family} is {position}

In [46]:
user_name=worker[0]
user_name

'Olya'

In [47]:
user_family= worker[1]
user_family

'Silyutina'

In [53]:
if worker[3]<2:
    position='junior'
elif worker[3]>=2 and worker[3]<=5:
    position='middle'
elif worker[3]>5:
    position='senior'

status = ("{} {} is {}.".format(user_name, user_family, position))   
print(status)

Olya Silyutina is middle.

In [112]:
# 7. В списке values содержатся числовые значения. 
# Создайте список tens и добавьте в него все числа из values, которые делятся на 10 нацело.

In [121]:
values = [12, 134, 10, 47, 100, 20, 50, 160, 210]

In [122]:
tens0=[]
tens0

[]

In [123]:
for k in values:
    if k%10==0:
        tens0.append(k)

In [124]:
print(tens0)

[10, 100, 20, 50, 160, 210]

In [146]:
# # 8.Реализуйте цикл, который пробегается по уже созданному списку workers со значениями как на 3-ем и 7-ом шагах и 
# # выводит для каждого сотрудника следующую строку (то есть печатает её для каждого элемента списка):
# user_name user_family is position
# # где user_name и user_family — имя и фамилия сотрудника, а position — одна из следующих строк:

# # 'junior' — стаж меньше 2 лет
# # 'middle' — стаж больше либо равен 2 и меньше или равен 5
# # 'senior' — стаж строго больше 5 лет 
# # Сам список создавать не нужно, он уже находится в переменной workers. Пример данных, которые могут быть в workers:
# workers = [['Ivan', 'Ivanov', 100000, 1], ['Petr', 'Petrov', 150000, 2], ['Sidor', 'Sidorov', 200000, 10]]

In [222]:
workers = [['Ivan', 'Ivanov', 100000, 1], ['Petr', 'Petrov', 150000, 2], ['Sidor', 'Sidorov', 200000, 10]]

In [227]:
for z in workers:
    user_name=z[0]
    user_family=z[1] 
    staz=z[3]    
    if staz < 2:
        position='junior'
    elif staz>=2 and staz<=5:
        position='middle'
    elif staz>5:
        position='senior'
        
        
        
        
        
    status = ("{} {} is {}.".format(user_name, user_family, position))   
    print(status)

Ivan Ivanov is junior.
Petr Petrov is middle.
Sidor Sidorov is senior.

In [228]:
# 9⭐️ Задание со звёздочкой! ⭐️
# Поместите в список lst числа от 0 (n = 0) до 10 включительно (N = 10) c шагом 2 (dn = 2). Для этого используйте условие while.
# Note: необходимо создать переменную lst, а переменные n, N, dn создавать не нужно. Итоговый список печатать тоже не нужно.

In [231]:
n=0
while n<10:
    print(n)
    n+=2

0
2
4
6
8

In [232]:
# 10 На предыдущих шагах вы сталкивались с различными характеристиками пользователей, которые были сохранены в списках. 
# Теперь попробуем собрать нужную информацию в словарь!

# Начнем с небольшого, где:

# ключом будет название характеристики
# значением – её значение
# В словарь поместите следующую информацию:

# характеристика	значение
# name	Masha
# surname	Volkova
# age	25
# salary	60000
# position	junior
# Результат сохраните в переменную salaries_dict.

In [233]:
salaries_dict={'name':'Masha', 'surname':'Volkova','age':25, 'salary':60000, 'position':'junior'}

In [237]:
salaries_dict

{'name': 'Masha',
 'surname': 'Volkova',
 'age': 25,
 'salary': 60000,
 'position': 'junior'}

In [239]:
salaries_dict['name']

'Masha'

In [240]:
# 11 Создайте словарь, где:

# Ключом будет логин пользователя (login)
# В качестве значения – словарь с характеристиками (как на предыдущем шаге) для этого пользователя
# login	name	surname	age	salary	position
# mvolkova	Masha	Volkova	25	60000	junior
# pvoronov	Peter	Voronov	27	100000	junior
# pparker	Peter	Parker	35	150000	middle
# akarpov	Anatoly	Karpov	30	250000	senior
# Таким образом, по ключу мы сможем получить всю информацию о нужном пользователе. 
# Обратиться к такому элементу можно, например, с помощью: users_dict['mvolkova']['name'], 
# где в первых скобках указывается логин (первый ключ), а во вторых – название характеристики, 
# значение которой мы хотим получить.

# Пример итоговой структуры:
#     {
# 'mvolkova' : {'name' : 'Masha', ...},
# 'pvoronov' : {'name' : 'Peter', ...}, 
# ...}

In [243]:
users_dict={
'mvolkova' : {'name' : 'Masha', 'surname' : 'Volkova', 'age' : '25', 'salary' :'60000', 'position': 'junior'},
'pvoronov' : {'name' : 'Masha', 'surname' : 'Volkova', 'age' : '25', 'salary' :'60000', 'position': 'junior'},
'pparker' : {'name' : 'Peter', 'surname' : 'Parker', 'age' : '35', 'salary' :'150000', 'position': 'middle'},
'akarpov' : {'name' : 'Anatoly', 'surname' : 'Karpov', 'age' : '30', 'salary' :'250000', 'position': 'senior'},
}
users_dict

{'mvolkova': {'name': 'Masha',
  'surname': 'Volkova',
  'age': '25',
  'salary': '60000',
  'position': 'junior'},
 'pvoronov': {'name': 'Masha',
  'surname': 'Volkova',
  'age': '25',
  'salary': '60000',
  'position': 'junior'},
 'pparker': {'name': 'Peter',
  'surname': 'Parker',
  'age': '35',
  'salary': '150000',
  'position': 'middle'},
 'akarpov': {'name': 'Anatoly',
  'surname': 'Karpov',
  'age': '30',
  'salary': '250000',
  'position': 'senior'}}